{% extends 'main/base.html'%}

{% block content %}
<div id="container">
    <header>Java Development
    </header>
    <nav>
      <br>
      <section>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse">Prework: INSTALLATIONS AND BASICS</a>
                   </h4>
            </div>
            <div id="collapse" class="panel-collapse collapse">
              <div>
                <ol class="panel-body">
                  <li><a class="load done" href="#prework1.html">Getting Started</a></li>
                  <li><a class="load done" href="#prework2.html">Java Basics</a></li>
                  <li><a class="load done" href="#prework3.html">Java Applications</a></li>
                  <li><a class="load done" href="#prework4.html">Control Flows</a></li>
                  <li><a class="load done" href="#prework5.html">Object Oriented Java</a></li>
                </ol>
              </div>
            </div>
          </div>
          <!-- week 1 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Week 1: BEHAVIOUR DRIVEN DEVELOPMENT WITH JAVA</a>
                            </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div>
                <ol class="panel-body">
                  <li><a class="load done" href="#01.html">1: Monday</a></li>
                  <ul>
                    <li>Behaviour Driven Development Workflow</li>
                    <li>Red Green Refactor Workflow</li>
                    <li>REPL Practice</li>
                  </ul>
                  <li><a class="load done" href="#02.html">2: Tuesday</a></li>
                  <ul>
                    <li>Gradle and Project Dependencies</li>
                    <li>Refactoring Using Gradle</li>
                    <li>Debugging</li>
                  </ul>
                  <li><a class="load done" href="#03.html">3: Wednesday</a></li>
                  <ul>
                    <li>Mini Projects</li>
                    <li>Leap Year Using BDD</li>
                    <li>BDD with Objects and Encapsulation</li>
                    <li>Front-End User Interface</li>
                    <li>Gitignore</li>
                    <li>Wrapper Classes</li>
                    <li>Random</li>
                  </ul>
                  <li><a class="load done" href="#04.html">4: Thursday</a></li>
                  <ul>
                    <li>Exercises</li>
                    <li>Formatted Strings</li>
                  </ul>
                  <li><a class="load done" href="#05.html">5: Friday</a></li>
                  <ul>
                    <li>Command Line Word Game</li>
                  </ul>
                  <li><a class="load done" href="#weekend-one.html">Weekend</a></li>
                  <ul>
                    <li>Web Applications in Java Objectives</li>
                    <li>Web Clients and Servers</li>
                    <li>Uniform Resource Locator (URL)</li>
                    <li>HTTP Requests &amp; Response</li>
                    <li>Web Developer Tools</li>
                  </ul>
                </ol>
              </div>
            </div>
          </div>
          <!-- week 2 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Week 2: WEB APPLICATIONS</a>
                            </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div>
                <ol class="panel-body">
                  <li><a class="load done" href="#06.html">6: Monday</a></li>
                  <ul>
                    <li>Introduction to Spark</li>
                    <li>Velocity Templates in Spark</li>
                    <li>Data Structures: HashMap</li>
                    <li>Using Layouts in Spark </li>
                    <li>Gathering Data with Forms</li>
                    <li>More Routing and Form Practice</li>
                  </ul>
                  <li><a class="load done" href="#07.html">7: Tuesday</a></li>
                  <ul>
                    <li>Mini Projects</li>
                    <li>Looping and Branching in Velocity Templates</li>
                    <li>Persisting Data with Spark Session Storage</li>
                    <li>Back-End Logic</li>
                    <li>Routing and User Interfaces</li>
                  </ul>
                  <li><a class="load done" href="#08.html">8: Wednesday</a></li>
                  <ul>
                    <li>Mini projects</li>
                    <li>Static Variables and Methods</li>
                    <li>Objects in Objects</li>
                    <li>Finding and Saving Objects</li>
                    <li>RESTful Routes</li>
                    <li>Objects within Objects</li>
                  </ul>
                  <li><a class="load done" href="#09.html">9: Thursday</a></li>
                  <ul>
                    <li>Mini Projects</li>
                    <li>Testing Objects Within Objects</li>
                    <li>Catching and Handling Exceptions</li>
                    <li>Adding CSS to Spark Applications</li>
                    <li>Optional: Deploying Spark Applications to Heroku</li>
                  </ul>
                  <li><a class="load done" href="#10.html">10: Friday</a></li>
                  <ul>
                    <li>Independent Project</li>
                  </ul>
                  <li><a class="load done" href="#weekend-three.html">Weekend</a></li>
                  <ul>
                    <li>Objectives</li>
                    <li>Installing Postgres</li>
                    <li>Database Relationships</li>
                    <li>SQL Basics</li>
                    <li>Database Naming Conventions</li>
                    <li>Comparing Objects and Type Casting</li>
                    <li>To Do List: Integrating a Database</li>
                    <li>To Do List: One-to-Many Relationship</li>
                    <li>To Do List: Integrating Spark with Databases</li>
                  </ul>
                </ol>
              </div>
            </div>
          </div>
          <!-- week 3 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Week 3: DATABASES BASICS</a>
                            </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div>
                <ol class="panel-body">
                  <li><a class="load done" href="#11.html">11: Monday</a></li>
                  <ul>
                    <li>SQL and Schema Practice</li>
                    <li>Select Form Fields in Spark</li>
                    <li>User Stories</li>
                    <li>CRUD, HTTP, and Updating Objects</li>
                  </ul>
                  <li><a class="load done" href="#12.html">12: Tuesday</a></li>
                  <ul>
                    <li>Animal Shelter, Doctor's Office</li>
                    <li>Deleting Objects</li>
                    <li>Backing Up and Restoring Schema</li>
                    <li>Refactoring Tests with Rules</li>
                  </ul>
                  <li><a class="load done" href="#13.html">13: Wednesday</a></li>
                  <ul>
                    <li>Crowd-Sourced Review Site</li>
                    <li>SQL: Querying, Ordering, and More</li>
                  </ul>
                  <li><a class="load done" href="#14.html">14: Thursday</a></li>
                  <ul>
                    <li>Weekly Technical Interview Prep</li>
                  </ul>
                  <li><a class="load done" href="#15.html">15: Friday</a></li>
                  <ul>
                    <li>Team Week: Project Pitch</li>
                    <li>Independent project</li>
                  </ul>
                  <li><a class="load done" href="#weekend.html">Weekend</a></li>
                  <ul>
                    <li>Objectives</li>
                    <li>Class and Database Setup</li>
                    <li>Constants</li>
                    <li>Throwing and Catching Exceptions</li>
                    <li>SQL: Dates and Timestamps</li>
                    <li>Dates in Java</li>
                    <li>Automation and Scheduling</li>
                  </ul>
                </ol>
              </div>
            </div>
          </div>
          <!-- week 4 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Week 4: ADVANCED TOPICS IN JAVA</a>
                            </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div>
                <ol class="panel-body">
                  <li><a class="load done" href="#16.html">16: Monday</a></li>
                  <ul>
                    <li>Team Week: Project Pitch</li>
                    <li>Mini project</li>
                    <li>Inheritance and Polymorphism</li>
                    <li>Abstract Classes</li>
                    <li>Virtual Pets: Abstract Classes</li>
                    <li>Single Table Inheritance</li>
                  </ul>
                  <li><a class="load done" href="#17.html">17: Tuesday</a></li>
                  <ul>
                    <li>Mini project(Continues)</li>
                    <li>Many-to-Many Database Relationships</li>
                    <li>Optional: Join Statements</li>
                  </ul>
                  <li><a class="load done" href="#18.html">18: Wednesday</a></li>
                  <ul>
                    <li>Virtual Pets, Recipe Box or Blog</li>
                    <li>Interfaces</li>
                    <li>Defining and Implementing Interfaces</li>
                    <li>Abstract Classes vs. Interfaces</li>
                  </ul>
                  <li><a class="load done" href="#19.html">19: Thursday</a></li>
                  <ul>
                    <li>Virtual Pets, Project of Choice</li>
                    <li>Weekly Technical Interview Prep</li>
                  </ul>
                  <li><a class="load done" href="#20.html">20: Friday</a></li>
                  <ul>
                    <li>Independent project</li>
                  </ul>
                  <li><a class="load done" href="#36.html">Weekend: Agile</a></li>
                </ol>
              </div>
            </div>
          </div>
          <!-- week 5 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Week 5: TEAM WEEK</a>
                            </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div>
                <ol class="panel-body">
                  <li>
                    <a class="load done" href="#35.html">Monday</a>
                  </li>
                  <ul>
                    <li>Market Research</li>
                  </ul>
                  <li>
                    <a class="load done" href="#37.html">Thursday</a>
                  </li>
                  <ul>
                    <li>Team Week Presentations and Code Review</li>
                  </ul>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </section>
    </nav>
    <div id="content">
      <!-- content from the html pages in client folder goes here  -->
    </div>
    <footer>
      <p>Copyright 2017 epicodus, Inc. Used under license by Moringa School.</p>
    </footer>
  </div>

{% endblock %}
