{% extends 'main/base.html'%}

{% block content %}
<div id="container">
    <header>Java Development
    </header>
    <nav>
      <br>
      <section>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse">Prework: INSTALLATIONS AND BASICS</a>
                   </h4>
            </div>
            <div id="collapse" class="panel-collapse collapse">
              <div>
                <ol class="panel-body">
                  <li><a class="load done" href="#prework1.html">Getting Started</a></li>
                  <li><a class="load done" href="#prework2.html">Java Basics</a></li>
                  <li><a class="load done" href="#prework3.html">Java Applications</a></li>
                  <li><a class="load done" href="#prework4.html">Control Flows</a></li>
                  <li><a class="load done" href="#prework5.html">Object Oriented Java</a></li>
                </ol>
              </div>
            </div>
          </div>
          
    <div id="content">
      <!-- content from the html pages in client folder goes here  -->
    </div>
    <footer>
      <p>Copyright 2017 epicodus, Inc. Used under license by Moringa School.</p>
    </footer>
  </div>

{% endblock %}
