{% import 'macros/day_macro.html' as macros%}
{% macro loop_weeks(weeks)%}
  <!-- Loop through the weeks -->
  {% for title,week in weeks.items()%}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{week[2]}}">{{week[0]}}: {{title}}</a>
                    </h4>
    </div>
    <div id="{{week[2]}}" class="panel-collapse collapse">
      <div>
        <ol class="panel-body">
          {{ macros.loop_days(week[1])}}
        </ol>
      </div>
    </div>
  </div>
  {%endfor%}
{%endmacro%}
